body {
  margin: 0;
  padding: 0;
  
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-family: 'Courgette', cursive;
  color: #fff;
  font-size: 2.2em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  line-height: .65;
  margin-top: .5em;
  margin-bottom: 0;
}



